In [2]:
import sys
import os
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('input001-3.txt', delimiter="\t")
df

           Date   Adj Close
0      2021/1/4  128.453445
1      2021/1/5  130.041626
2      2021/1/6  125.664208
3      2021/1/7  129.952270
4      2021/1/8  131.073929
..          ...         ...
247  2021/12/27  180.100540
248  2021/12/28  179.061859
249  2021/12/29  179.151749
250  2021/12/30  177.973251
251  2021/12/31  177.344055

[252 rows x 2 columns]

In [11]:
# Step 1: Get the highest and lowest adjusted close price for the past 14 days

# Please complete the function "compute_max_min" below
# It will read a dataframe and add two columns called "max_14" and "min_14"
# "max_14" should be the highest adjusted close price for the past 14 days (inclusive)
# "min_14 should be the lowest adjusted closed price for the past 14 days (inclusive)
# If we haven't gotten price data for at least 14 days, the value should be NaN
# The function will return the dataframe

def compute_max_min(df):

    df["max_14"] = df.rolling(14).max()
    df["min_14"] = df['Adj Close'] *-1
    df["min_14"] = df['min_14'].rolling(14).max()
    df["min_14"] *= -1
    
    return df

In [12]:
compute_max_min(df)

           Date   Adj Close     max_14      min_14
0      2021/1/4  128.453445        NaN         NaN
1      2021/1/5  130.041626        NaN         NaN
2      2021/1/6  125.664208        NaN         NaN
3      2021/1/7  129.952270        NaN         NaN
4      2021/1/8  131.073929        NaN         NaN
..          ...         ...        ...         ...
247  2021/12/27  180.100540  180.10054  169.533997
248  2021/12/28  179.061859  180.10054  169.533997
249  2021/12/29  179.151749  180.10054  169.533997
250  2021/12/30  177.973251  180.10054  169.533997
251  2021/12/31  177.344055  180.10054  169.533997

[252 rows x 4 columns]

In [14]:
# Step 2: Compute the stochastic oscillator

# Please complete the function "compute_stochastic_oscillator" below
# It will read the dataframe you created above and add one column called "stochastic_oscillator"
# Follow the formula in the description to compute the stochastic oscillator
# Note that the value should fall between 0 and 100
# If we haven't gotten price data for at least 14 days, the value should be NaN
# The function will return the dataframe

def compute_stochastic_oscillator(df):
    
    df["stochastic_oscillator"] = [((df["Adj Close"][i] - df["min_14"][i])/(df["max_14"][i]-df["min_14"][i]))*100 if df["max_14"][i] != np.NaN else np.NaN for i in range(len(df["Adj Close"])) ]
    return df

In [15]:
compute_stochastic_oscillator(df)

           Date   Adj Close     max_14      min_14  stochastic_oscillator
0      2021/1/4  128.453445        NaN         NaN                    NaN
1      2021/1/5  130.041626        NaN         NaN                    NaN
2      2021/1/6  125.664208        NaN         NaN                    NaN
3      2021/1/7  129.952270        NaN         NaN                    NaN
4      2021/1/8  131.073929        NaN         NaN                    NaN
..          ...         ...        ...         ...                    ...
247  2021/12/27  180.100540  180.10054  169.533997             100.000000
248  2021/12/28  179.061859  180.10054  169.533997              90.170096
249  2021/12/29  179.151749  180.10054  169.533997              91.020796
250  2021/12/30  177.973251  180.10054  169.533997              79.867694
251  2021/12/31  177.344055  180.10054  169.533997              73.913087

[252 rows x 5 columns]

In [34]:
# Step 3: Identify buy & sell signals

# Please complete the function "compute_stochastic_oscillator" below
# It will read the dataframe you created above and add two columns called "buy_signal" and "sell_signal"
# buy_signal = 1 if stochastic_oscillator <= 20 otherwise 0
# sell_signal = 1 if stochastic_oscillator >= 80 otherwise 0
# If we haven't gotten price data for at least 14 days, the value should be NaN
# The function will return the dataframe

def identify_signals(df):
    
    df["buy_signal"] = [1 if df['stochastic_oscillator'][i] <= 20 else np.NaN if np.isnan(df['stochastic_oscillator'][i]) else 0 for i in range(len(df['Adj Close'])) ]
    df["sell_signal"] = [1 if df['stochastic_oscillator'][i] >= 80 else np.NaN if np.isnan(df['stochastic_oscillator'][i]) else 0 for i in range(len(df['Adj Close'])) ]
    
    return df

In [36]:
identify_signals(df)

,Date,Adj Close,max_14,min_14,stochastic_oscillator,buy_signal,sell_signal
0,2021/1/4,128.453445,NaN,NaN,NaN,NaN,NaN
1,2021/1/5,130.041626,NaN,NaN,NaN,NaN,NaN
2,2021/1/6,125.664208,NaN,NaN,NaN,NaN,NaN
3,2021/1/7,129.952270,NaN,NaN,NaN,NaN,NaN
4,2021/1/8,131.073929,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
247,2021/12/27,180.100540,180.10054,169.533997,100.000000,0.0,1.0
248,2021/12/28,179.061859,180.10054,169.533997,90.170096,0.0,1.0
249,2021/12/29,179.151749,180.10054,169.533997,91.020796,0.0,1.0
250,2021/12/30,177.973251,180.10054,169.533997,79.867694,0.0,0.0
251,2021/12/31,177.344055,180.10054,169.533997,73.913087,0.0,0.0

In [37]:
df.head(20)

,Date,Adj Close,max_14,min_14,stochastic_oscillator,buy_signal,sell_signal
0,2021/1/4,128.453445,NaN,NaN,NaN,NaN,NaN
1,2021/1/5,130.041626,NaN,NaN,NaN,NaN,NaN
2,2021/1/6,125.664208,NaN,NaN,NaN,NaN,NaN
3,2021/1/7,129.952270,NaN,NaN,NaN,NaN,NaN
4,2021/1/8,131.073929,NaN,NaN,NaN,NaN,NaN
5,2021/1/11,128.026627,NaN,NaN,NaN,NaN,NaN
6,2021/1/12,127.847954,NaN,NaN,NaN,NaN,NaN
7,2021/1/13,129.922501,NaN,NaN,NaN,NaN,NaN
8,2021/1/14,127.957161,NaN,NaN,NaN,NaN,NaN
9,2021/1/15,126.200226,NaN,NaN,NaN,NaN,NaN
10,2021/1/19,126.885124,NaN,NaN,NaN,NaN,NaN
11,2021/1/20,131.054077,NaN,NaN,NaN,NaN,NaN
12,2021/1/21,135.858307,NaN,NaN,NaN,NaN,NaN
13,2021/1/22,138.042053,138.042053,125.664208,100.000000,0.0,1.0
14,2021/1/25,141.863586,141.863586,125.664208,100.000000,0.0,1.0
15,2021/1/26,142.101822,142.101822,125.664208,100.000000,0.0,1.0
16,2021/1/27,141.009949,142.101822,126.200226,93.133562,0.0,1.0
17,2021/1/28,136.076675,142.101822,126.200226,62.109800,0.0,0.0
18,2021/1/29,130.984619,142.101822,126.200226,30.087504,0.0,0.0
19,2021/2/1,133.148483,142.101822,126.200226,43.695346,0.0,0.0

In [20]:
df['stochastic_oscillator'][0]

nan

In [21]:
type(df['stochastic_oscillator'][0])

numpy.float64

In [ ]:
imp

In [22]:
np.nan

nan

In [27]:
np.isnan(df['stochastic_oscillator'][0])

True

In [ ]:
def identify_signals(df):
    buy_signals = []
    sell_signals = []
    for i in range(len(df['Adj Close'])):
        if df['stochastic_oscillator'][i] == np.NaN:
            buy_signals.append(np.NaN)
            sell_signals.append(np.NaN)
        if df['stochastic_oscillator'][i] <= 20:
            buy_signals.append(1)
        else:
            buy_signals.append(0)
        if df['stochastic_oscillator'][i] >= 80:
            sell_signals.append(1)
        else:
            sell_signals.append(0)
        
    df["buy_signal"] = buy_signals
    df["sell_signal"] = sell_signals
    
    return df