In [3]:
import pandas as pd
df = pd.read_csv('input000-8.txt')
df

,Date,High,Low,Open,Close,Volume,Adj Close
0,2014-01-02,556.788025,552.060730,555.647278,554.481689,3656400.0,554.481689
1,2014-01-03,556.379578,550.401978,555.418152,550.436829,3345800.0,550.436829
2,2014-01-06,557.340942,551.154114,554.426880,556.573853,3551800.0,556.573853
3,2014-01-07,567.717041,558.486633,560.399475,567.303589,5124300.0,567.303589
4,2014-01-08,571.517822,564.528992,570.860291,568.484192,4501700.0,568.484192
...,...,...,...,...,...,...,...
1002,2017-12-22,1064.199951,1059.439941,1061.109985,1060.119995,755100.0,1060.119995
1003,2017-12-26,1060.119995,1050.199951,1058.069946,1056.739990,760600.0,1056.739990
1004,2017-12-27,1058.369995,1048.050049,1057.390015,1049.369995,1271900.0,1049.369995
1005,2017-12-28,1054.750000,1044.770020,1051.599976,1048.140015,837100.0,1048.140015
1006,2017-12-29,1049.699951,1044.900024,1046.719971,1046.400024,887500.0,1046.400024

In [5]:
class ABC:
    pass
class DIRECTION:
    BUY=1
    SELL=-1
    HOLD = 0

class base_strategy(ABC):
    def predict(self):
        pass
    def fit(self,price):
        pass

In [9]:


class strategy1(base_strategy):
    def __init__(self):
        self.counter = 0
        super().__init__()
    def fit(self,data):
        if len(data) == 1:
            if self.counter % 8 == 0:
                self.counter += 1
                return "buy"

            elif self.counter %4 == 0:
                self.counter += 1
                return "sell"
            else:
                self.counter += 1
        else:
            if self.counter % 8 == 0:
                self.counter += 1
                return "buy"

            elif self.counter %4 == 0:
                self.counter += 1
                return "sell"
            else:
                self.counter += 1
    
    def predict(self,price_update):
        x = self.fit(price_update)
        if x == "buy":
            return DIRECTION.BUY
        elif x == 'sell':
            return DIRECTION.SELL
        else:
            return DIRECTION.HOLD

In [7]:
x = strategy1()

In [13]:
y = x.fit(df['Adj Close'])

In [15]:
x.predict(df['Adj Close'])

-1