In [1]:
import pandas as pd
import numpy as np

In [2]:
book_example = pd.read_csv("input000-15.txt")

In [3]:
book_example.head()

,time_id,seconds_in_bucket,bid_price1,ask_price1,bid_price2,ask_price2,bid_size1,ask_size1,bid_size2,ask_size2
0,5,0,1.001422,1.002301,1.00137,1.002353,3,226,2,100
1,5,1,1.001422,1.002301,1.00137,1.002353,3,100,2,100
2,5,5,1.001422,1.002301,1.00137,1.002405,3,100,2,100
3,5,6,1.001422,1.002301,1.00137,1.002405,3,126,2,100
4,5,7,1.001422,1.002301,1.00137,1.002405,3,126,2,100

In [8]:
import pandas as pd
import numpy as np

# Enter your code here. Read input from STDIN. Print output to STDOUT
# Write a function to calculate the WAP based on the given formula
def wap():
    book_example['wap'] = ((book_example['bid_price1']*book_example['ask_size1']) + (book_example['bid_size1'] * book_example['ask_price1']))/(book_example['bid_size1']+book_example['ask_size1'])
    
    
# Write a function to calculate the log returns
def log_return(book_example):
    book_example['log_return'] = np.log(book_example['wap'].shift().dropna()/book_example['wap'][1:])

# Call the above function to calculate the log returns here (check tail)
# We need to drop the columns with null values to validate the calculation (check tail)


# Write a function to calculate the realized volatility
def compute_realized_volatility(series_log_return):
    return np.sum(np.power(series_log_return,2))**(.5)
    

def test_0(book_example):
    wap()
    log_return(book_example)
    book_example = book_example[~book_example['log_return'].isnull()]
    series_log_return = book_example['log_return']
    realized_vol = compute_realized_volatility(series_log_return)
    print(round(realized_vol,6))

def test_1(book_example):
    wap()
    log_return(book_example)
    book_example = book_example[~book_example['log_return'].isnull()]
    series_log_return = book_example['log_return']
    realized_vol = compute_realized_volatility(series_log_return)
    print(round(realized_vol,6))

def test_2(book_example):
    wap()
    log_return(book_example)
    book_example = book_example[~book_example['log_return'].isnull()]
    series_log_return = book_example['log_return']
    realized_vol = compute_realized_volatility(series_log_return)
    print(round(realized_vol,6))

def test_3(book_example):
    wap()
    log_return(book_example)
    book_example = book_example[~book_example['log_return'].isnull()]
    series_log_return = book_example['log_return']
    realized_vol = compute_realized_volatility(series_log_return)
    print(round(realized_vol,6))

def test_4(book_example):
    wap()
    log_return(book_example)
    book_example = book_example[~book_example['log_return'].isnull()]
    series_log_return = book_example['log_return']
    realized_vol = compute_realized_volatility(series_log_return)
    print(round(realized_vol,6))

if __name__ == '__main__':
    test_id = int(input().strip())
    row_num = int(input().strip())
    Data = []
    col_names = list(map(str, input().split(',')))
    for i in range(row_num):
        line=list(map(str, input().split(',')))
        for j in range(1,10,1):
            line[j] = float(line[j])
        Data.append(line)
    book_example = pd.DataFrame(Data, columns= col_names)
    # print(df)
    
    if test_id == 0:
        test_0(book_example)
    if test_id == 1:
        test_1(book_example)
    if test_id == 2:
        test_2(book_example)
    if test_id == 3:
        test_3(book_example)
    if test_id == 4:
        test_4(book_example)

"\ndef test_0(book_example):\n    wap()\n    log_return(book_example)\n    book_example = book_example[~book_example['log_return'].isnull()]\n    series_log_return = book_example['log_return']\n    realized_vol = compute_realized_volatility(series_log_return)\n    print(round(realized_vol,6))\n\ndef test_1(book_example):\n    wap()\n    log_return(book_example)\n    book_example = book_example[~book_example['log_return'].isnull()]\n    series_log_return = book_example['log_return']\n    realized_vol = compute_realized_volatility(series_log_return)\n    print(round(realized_vol,6))\n\ndef test_2(book_example):\n    wap()\n    log_return(book_example)\n    book_example = book_example[~book_example['log_return'].isnull()]\n    series_log_return = book_example['log_return']\n    realized_vol = compute_realized_volatility(series_log_return)\n    print(round(realized_vol,6))\n\ndef test_3(book_example):\n    wap()\n    log_return(book_example)\n    book_example = book_example[~book_example['log_return'].isnull()]\n    series_log_return = book_example['log_return']\n    realized_vol = compute_realized_volatility(series_log_return)\n    print(round(realized_vol,6))\n\ndef test_4(book_example):\n    wap()\n    log_return(book_example)\n    book_example = book_example[~book_example['log_return'].isnull()]\n    series_log_return = book_example['log_return']\n    realized_vol = compute_realized_volatility(series_log_return)\n    print(round(realized_vol,6))\n\nif __name__ == '__main__':\n    test_id = int(input().strip())\n    row_num = int(input().strip())\n    Data = []\n    col_names = list(map(str, input().split(',')))\n    for i in range(row_num):\n        line=list(map(str, input().split(',')))\n        for j in range(1,10,1):\n            line[j] = float(line[j])\n        Data.append(line)\n    book_example = pd.DataFrame(Data, columns= col_names)\n    # print(df)\n    \n    if test_id == 0:\n        test_0(book_example)\n    if test_id == 1:\n        test_1(book_example)\n    if test_id == 2:\n        test_2(book_example)\n    if test_id == 3:\n        test_3(book_example)\n    if test_id == 4:\n        test_4(book_example)"