In [1]:
import pandas as pd
import numpy as np

In [2]:
industrydf = pd.read_csv("total returns-Table.csv")
ffdf = pd.read_csv("total returns-Table 1.csv")

In [4]:
industrydf.head()

            Unnamed: 0     MKT     SMB     HML     UMD      RF
0  YYYY-00-DD 00:00:SS -0.0433  0.0611 -0.0134  0.0227  0.0041
1  YYYY-00-DD 00:00:SS  0.0288  0.2162 -0.0851  0.1879  0.0043
2  YYYY-00-DD 00:00:SS  0.0567 -0.1635  0.0813 -0.0592  0.0047
3  YYYY-00-DD 00:00:SS -0.0594 -0.0647  0.0787 -0.0811  0.0046
4  YYYY-00-DD 00:00:SS -0.0392 -0.0583  0.0551 -0.0858  0.0050

In [5]:
ffdf.head()

,Date,AAPL,AMZN,GS,JPM,MSFT,SPY,XLB,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY
0,YYYY-00-DD 00:00:SS,0.009118,-0.151888,-0.025871,0.044493,-0.161671,-0.049787,-0.122281,0.008074,-0.029586,-0.081794,-0.061485,0.008819,-0.017768,-0.025291,-0.124246
1,YYYY-00-DD 00:00:SS,0.104820,0.066796,0.009550,-0.013168,-0.086845,-0.015227,-0.100469,-0.042334,-0.107046,-0.055173,0.105068,-0.117014,-0.121538,-0.065387,-0.055715
2,YYYY-00-DD 00:00:SS,0.184842,-0.027223,0.137838,0.094977,0.188811,0.096915,0.100893,0.124423,0.182624,0.139207,0.083893,0.037593,0.109237,0.089950,0.141516
3,YYYY-00-DD 00:00:SS,-0.086517,-0.176306,-0.112879,-0.168445,-0.343529,-0.035120,-0.033220,-0.014925,0.009659,0.014445,-0.091847,0.053019,0.065459,-0.011717,-0.020822
4,YYYY-00-DD 00:00:SS,-0.322922,-0.124575,-0.211126,0.035529,-0.103047,-0.015723,-0.031557,0.117424,0.022321,-0.004220,-0.103977,0.071329,-0.002194,-0.026804,-0.053980

In [ ]:
def performanceMetrics(returns):
    metrics = pd.DataFrame(index=returns.columns)
    metrics['Mean'] = np.mean(metrics,axis=1)
    metrics['Vol'] = np.std(metrics,axis=1)
    metrics['Sharpe'] = metrics.Mean - np.mean(metrics,axis=0) / metrics.Vol
    metrics['Min'] = np.min(metrics,axis=1)
    metrics['Max'] = np.max(metrics,axis=1)
    metrics['VaR (5th)'] = 
    metrics['CVaR (5th)'] =
    return metrics

In [ ]:
def maximumDrawdown(returns):
    cum_returns = (1 + returns).cumprod()
    rolling_max = cum_returns.cummax()
    drawdown = (cum_returns - rolling_max) / rolling_max
    max_drawdown = rolling_max-drawdown
    end_date = 
    summary =
    return summary